/.vs/private-ai/CopilotIndices/17.14.878.3237
/.vs/private-ai/DesignTimeBuild
/.vs/private-ai/FileContentIndex
/.vs/private-ai/v17
/.vs/ProjectEvaluation
/semantic-kernel/.vs/ProjectEvaluation
/semantic-kernel/.vs/SKPrivateAI/CopilotIndices/17.14.878.3237
/semantic-kernel/.vs/SKPrivateAI/DesignTimeBuild
/semantic-kernel/.vs/SKPrivateAI/FileContentIndex
/semantic-kernel/.vs/SKPrivateAI/v17
/semantic-kernel/.vs/SKPrivateAI/solutionOpened
semantic-kernel/.vs/SKPrivateAI/copilot-chat/f9075424/sessions/3beb87c4-5a1f-4679-9d38-61c401b0b8d0
