/.vs/private-ai/CopilotIndices/17.14.878.3237
/.vs/private-ai/DesignTimeBuild
/.vs/private-ai/FileContentIndex
/.vs/private-ai/v17
/.vs/ProjectEvaluation
/semantic-kernel/.vs/ProjectEvaluation
/semantic-kernel/.vs/SKPrivateAI/CopilotIndices/17.14.878.3237
/semantic-kernel/.vs/SKPrivateAI/DesignTimeBuild
/semantic-kernel/.vs/SKPrivateAI/FileContentIndex
/semantic-kernel/.vs/SKPrivateAI/v17
/semantic-kernel/.vs/SKPrivateAI/solutionOpened
